<!DOCTYPE html>
<html class="loading">
  <head>
<!--[if lt IE 9]>
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('hgroup');
</script>
<style>
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}
</style>
<![endif]-->

<!-- Set viewport scaling based on whether screen is retina or not. CSS media
queries will double base font size accordingly. -->
<script>
(function () {
  if (window.devicePixelRatio && window.devicePixelRatio > 1.5) {
    document.write('<meta name="viewport" content="width=device-width, minimum-scale=0.5, user-scalable=no, maximum-scale=0.5">');
    } else {
    document.write('<meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=no, maximum-scale=1">');
  }
}());
</script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" href="/media/apple_touch_icon.png">
    <link rel="shortcut icon" href="/media/favicon.ico">
<% cssfiles.forEach(function (filename) { %>
    <link rel="stylesheet" href="<%= filename %>"><% }); %>

    <title>Guild Bounty Tracker</title>

    <script type="text/javascript" src="//use.typekit.net/hge8nui.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body class="<%= body_class %>">
    <div id="loading">
      <h1>Loading&hellip;</h1>
      <ul>
        <li><span class="loading-label">Scripts:</span>
          <span id="loading-scripts"></span></li>

        <li><span class="loading-label">Other stuff:</span>
          <span id="loading-fonts"></span></li>
      </ul>
    </div>

    <header>
      <a href="#register-dialog" id="register-link" class="not-small
        logged-out">Register <span class="non-essential">your </span>guild</a>

      <form id="login" class="logged-out" action="api/login" method="POST">
        <label for="login-guildname">Guild name:</label>
        <input type="text" id="login-guildname" name="guildname">
        <br class="compact">
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password">
        <a href="#forgot-password-dialog" id="forgot-password"
          class="not-compact">forgot?</a>
        <br class="compact">
        <input type="submit" value="Log In">
      </form>

      <div id="logged-in" class="logged-in">
        <span class="not-compact">Logged in as a<span class="for-admins">n admin
            of</span><span class="for-members"> member of</span></span>
        <span id="logged-in-guildname"><%= guild_data.guildname %></span> &middot;
        <span class="for-admins not-compact"><a
            href="#options-dialog">options</a> &middot; </span>
        <button id="log-out">Log Out</button>
      </div>
    </header>

    <section id="main">
      <h1>Guild Bounty Tracker</h1>

<!--[if lt IE 9]>
      <p class="important info"><strong>NOTE:</strong> you appear to be using an
      outdated version of <em>Internet Explorer</em>, which is not supported by
      the Tracker.</p>
<![endif]-->

      <p class="intro info logged-out">This tool is to assist guilds with the
      <em>Guild Bounty</em> mission in Guild Wars 2, by allowing everyone to
      keep track of who has found which bounty NPC.</p>

      <p class="intro info logged-out">If you&rsquo;re a guild leader/officer,
      you can register your guild, then set up a password for other guild
      members to log in with. Other guild members, log in with the password an
      officer gives you.</p>

      <p class="info not-compact">Each NPC&rsquo;s name links to the relevant
      section of <a
        href="http://dulfy.net/2013/02/27/gw2-guild-bounty-guide/">Dulfy&rsquo;s
        guide</a> in a new window, wherein you can find a picture of the NPC and
      a map of their route.</p>

      <p class="instructions info not-compact logged-in">
      Click a <a href="#" class="action button assign-player"></a> button in
      the table to assign <span class="for-admins">a player</span><span
        class="for-members">yourself</span> to the corresponding NPC. <span
        class="for-members">If you need to change your name, log out and back in
        again.</span>
      </p>

      <h2 id="found-display" class="logged-in">Found so far:
        <span id="found-count">0</span></h2>

      <div id="npcs"><p class="working">Loading&hellip;</p></div>

      <div class="button-bar logged-in" id="list-controls">
        <button id="stop-hunting" class="action for-members" title="Click to unassign yourself from all targets.">Stop Hunting</button>

        <input id="toggle-autosync" type="checkbox" checked>
        <label for="toggle-autosync" title="Will be turned off after 3 hours of inactivity.">Auto-sync</label>

        <button id="manual-refresh" class="disabled">Refresh</button>
        <a id="reset" href="#confirm-reset-dialog" class="reset button for-admins">Reset</a>
      </div>

    </section> <% // #main %>

    <footer>
      <p>
      By <a href="//caer.me/">Andy Farrell</a> &middot;
      <em>Caer.1605</em> in GW2 &middot;
      <a class="icon" id="twitter-icon" href="https://twitter.com/caerphoto"
        target="_blank">twitter</a> &middot;
      source available <a href="https://github.com/caerphoto/bounty_tracker">on
        GitHub</a> &middot;
      <a href="#feedback-dialog">leave feedback</a>
      </p>
    </footer>

    <% include _dialogs.ejs %>
    <% include _client-templates.ejs %>

    <script>
      var GBT = {
        is_admin: <%- !!is_admin %>,
        guild_data: <%- JSON.stringify(guild_data) %>,
        npc_list: <%- JSON.stringify(npc_list) %>,
        search_state: <%- search_state %>,
        assignment: "<%- assignment %>",
        this_player: "<%- this_player %>"
      };
    </script>

<% jsfiles.forEach(function (filename) { %>
    <script src="<%= filename %>"></script><% }); %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-40525190-1', 'caer.me');
  ga('send', 'pageview');
</script>

  </body>
</html>


