<!DOCTYPE html>
<html>
  <head>
<!--[if lt IE 9]>
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('hgroup');
</script>
<style>
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}
</style>
<![endif]-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
<% cssfiles.forEach(function (filename) { %>
    <link rel="stylesheet" href="<%= filename %>"> <% }); %>

    <link rel="shortcut icon" href="/media/favicon.ico">
    <title>Guild Bounty Tracker</title>
  </head>
  <body class="<%= body_class %>">
    <header>
      <a href="#register-dialog" id="register-link" class="not-small
        logged-out">Register <span class="non-essential">your </span>guild</a>

      <form id="login" class="logged-out" action="api/login" method="POST">
        <label for="login-guildname">Guild name:</label>
        <input type="text" id="login-guildname" name="guildname">
        <br class="compact">
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password">
        <a href="#forgot-password-dialog" id="forgot-password"
          class="not-compact">forgot?</a>
        <br class="compact">
        <input type="submit" value="Log In">
      </form>

      <div id="logged-in" class="logged-in">
        <span class="not-compact">Logged in as a<span class="for-admins">n admin
            of</span><span class="for-members"> member of</span></span>
        <span id="logged-in-guildname"><%= guild_data.guildname %></span> &middot;
        <span class="for-admins not-compact"><a
            href="#options-dialog">options</a> &middot; </span>
        <button id="log-out">Log Out</button>
      </div>
    </header>

    <section id="register-dialog" class="dialog logged-out">
      <form id="register" action="api/register" method="POST">
        <h2>Register Guild</h2>
        <label for="register-guildname">Guild name:</label>
        <input id="register-guildname" name="guildname" type="text">
        <p class="info">The guild name is not case-sensitive, and can be up to
        <em>70</em> characters in length.</p>

        <label for="register-admin-email">Admin email:</label>
        <input id="register-admin-email" name="admin_email" type="text">
        <p class="info">This is so you can reset the admin password if you
        forget it. You can leave it blank but this is not recommended.</p>

        <label for="register-admin-pw">Admin password:</label>
        <input id="register-admin-pw" name="admin_pw" type="password">
        <p class="info">This is your login password.</p>

        <label for="register-admin-pw-confirm">Confirm admin password:</label>
        <input id="register-admin-pw-confirm" name="admin_pw_confirm" type="password">
        <span class="info">Just to make sure you made no mistakes typing the
          password.</span>

        <label for="register-member-pw">Member password:</label>
        <input id="register-member-pw" name="member_pw" type="text">
        <p class="info">This is what regular guild members will use to log
        in.  It is <em>not encrypted</em>, since you&rsquo;ll be sharing it with
        lots of (hopefully trustworthy) people anyway.</p>

        <div class="checkbox-wrapper">
          <input id="register-temporary" name="temporary" type="checkbox">
          <label for="register-temporary">Temporary registration</label>
        </div>
        <p class="info">Check this box to have the Tracker only remember your
        guild for one day.</p>

        <div class="button-bar">
          <a href="#" class="button">Cancel</a>
          <input type="submit" value="Register Guild">
        </div>
      </form>
    </section> <% // #register-dialog %>

    <section id="options-dialog" class="dialog logged-in for-admins">
      <form id="options" action="api/guild_info" method="POST">
        <h2>Options</h2>

        <label for="options-member-pw">Member password:</label>
        <input type="text" id="options-member-pw" name="member_pw"
        value="<%= guild_data.member_pw %>">

        <label for="options-admin-email">Admin email:</label>
        <input type="email" id="options-admin-email" name="admin_email"
        value="<%= guild_data.admin_email %>">

        <label for="options-admin-pw">Change admin password:</label>
        <input type="password" id="options-admin-pw" name="admin_pw">

        <label for="options-admin-pw-confirm">Confirm new admin password:</label>
        <input type="password" id="options-admin-pw-confirm" name="admin_pw_confirm">

        <div class="button-bar">
          <a href="#" class="button">Cancel</a>
          <input type="submit" value="OK">
        </div>
      </form>
    </section>

    <section id="forgot-password-dialog" class="dialog logged-out">
      <form id="reset-password" action="api/reset_password" method="POST">
        <h2>Forgot Your Password?</h2>
        <p>Enter the guild name and admin email address in the boxes below then
        click the <em>Reset</em> button to reset the <em>admin password</em> to
        a new random one. An email will be sent containing the new password.</p>

        <label for="forgot-password-guildname">Guild name:</label>
        <input id="forgot-password-guildname" type="text" name="guildname">

        <label for="forgot-password-admin-email">Admin email:</label>
        <input id="forgot-password-admin-email" type="email" name="admin_email">

        <div class="button-bar">
          <a href="#" class="button">Cancel</a>
          <input type="submit" value="Reset">
        </div>
      </form>
    </section>

    <section id="member-name-dialog" class="dialog logged-in">
      <form id="assign-player" action="api/assign_player" method="POST">
        <h2>Enter <span class="for-members">Your</span><span
            class="for-admins">Player</span> Name</h2>
        <p>Type <span class="for-members">your</span><span class="for-admins">a
          player</span> name in the box below, then click <em>OK</em> to assign
        <span class="for-members">yourself</span><span class="for-admins">that
          player</span> to <em id="assign-player-npc"></em>.</p>

        <input type="text" id="assign-player-name" name="player_name">
        <input type="hidden" name="npc_short_name">

        <div class="button-bar">
          <a href="#" class="button">Cancel</a>
          <input type="submit" value="OK">
        </div>
      </form>
    </section>

    <script type="text/mustache" id="error-template">
      <h2>Error</h2>
      <p>{{{message}}}</p>
      <p class="error-code">HTTP response code: {{code}}</p>

      <div class="button-bar">
        <a href="{{prev_location}}" class="button">OK</a>
      </div>
    </script>

    <section id="error-dialog" class="dialog">
      <div id="error"></div>
    </section>

    <section id="main">
      <h1>Guild Bounty Tracker</h1>
      <p class="intro info logged-out">This tool is to assist guilds with the
      <em>Guild Bounty</em> mission in Guild Wars 2, by allowing everyone to
      keep track of who has found which bounty NPC.</p>

<!--[if lt IE 9]>
      <p class="intro info"><strong>NOTE:</strong> you appear to be using an
      outdated version of <em>Internet Explorer</em>. Although the primary
      functions of this app (tracking and sync) will still work, you won't be
      able to register a new guild, reset your password or change guild options
      unless you return with a modern browser.</p>
<![endif]-->

      <p class="intro info logged-out">If you&rsquo;re a guild leader/officer,
      you can register your guild, then set up a password for other guild
      members to log in with. Other guild members, log in with the password an
      officer gives you.</p>

      <p class="info not-compact">Each NPC&rsquo;s name links to the relevant
      section of <a
        href="http://dulfy.net/2013/02/27/gw2-guild-bounty-guide/">Dulfy&rsquo;s
        guide</a> in a new window, wherein you can find a picture of the NPC and
      a map of their route.</p>

      <p class="instructions info not-compact logged-in">
      Click a <a href="#" class="action button assign-player"></a> button in
      the table to assign <span class="for-admins">a player</span><span
        class="for-members">yourself</span> to the corresponding NPC.
      </p>

      <h2 id="found-display" class="logged-in">Found so far:
        <span id="found-count">0</span></h2>

      <script id="player-list-template" type="text/mustache">
        {{#players}}
          {{#this_player}}<li class="this-player">{{/this_player}}
          {{^this_player}}<li>{{/this_player}}
            <button class="remove-player for-admins" data-player_name="{{name}}">&minus;</button>
            <span class="player-name">{{name}}</span>
          </li>
        {{/players}}
      </script>

      <script id="npc-row-template" type="text/mustache">
<table id="npc-table">
  <thead>
    <tr class="npc-row">
      <th class="npc-name">NPC</th>
      <th class="npc-location">Location</th>
      <th class="player-names logged-in" colspan="2">Player(s)</th>
    </tr>
  </thead>

  <tbody>
  {{#NPCs}}
    <tr class="npc-row" id="npc-{{short_name}}" data-short_name="{{short_name}}">
      <td class="npc-name">
        <a class="full" href="{{url}}" target="_blank">{{{name}}}</a>
        <a class="compact" href="{{url}}" target="_blank">{{{compact_name}}}</a>
      </td>
      <td class="npc-location">{{{location}}}</td>
      <td class="player-names logged-in">
        <a class="action button assign-player" href="#member-name-dialog"></a>
        <ul class="player-list"></ul>
      </td>
      <td class="npc-controls logged-in">
        <button class="action found">Found!</button>
        <button class="lost">Lost :(</button>
      </td>
    </tr>
  {{/NPCs}}
  </tbody>
</table>
      </script>

      <div id="npcs"></div>

      <div class="button-bar logged-in" id="list-controls">
        <button id="stop-hunting" class="action for-members" title="Click to unassign yourself from all targets.">Stop Hunting</button>

        <input id="toggle-autosync" type="checkbox" >
        <label for="toggle-autosync" title="Will be turned off after 3 hours of inactivity.">Auto-sync</label>

        <button id="manual-refresh" class="">Refresh</button>
        <button id="reset" class="reset for-admins">Reset</button>
      </div>

    </section>

    <footer>
      <p>By <a href="//caer.me/">Andy Farrell</a> &middot; source
        available <a href="https://github.com/caerphoto/bounty_tracker">on GitHub</a></p>
    </footer>

    <script>
      var GBT = {
        is_admin: <%- !!is_admin %>,
        guild_data: <%- JSON.stringify(guild_data) %>,
        npc_list: <%- JSON.stringify(npc_list) %>,
        search_state: <%- search_state %>,
        assignment: "<%- assignment %>",
        this_player: "<%- this_player %>"
      };
    </script>

<% jsfiles.forEach(function (filename) { %>
    <script src="<%= filename %>"></script>
<% }); %>

<!--
    <script type="text/javascript" src="//use.typekit.net/hge8nui.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
  </body>
</html>


